/* goole font */
/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
input{
  outline: none;
}
.section-padding{
  padding: 100px 0;
}
.flex{
  display: flex;
  width: 80%;
  max-width: 1440px;
  margin: auto;
}
button{
  width: 110px;
  height: 40px;
  background: #FB5959;
  border-radius: 5px;
  color: white;
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: -2px 3px 5px #0000003d;
}

/* header */
.header-container{
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.logo{
}
.main-nav{
  display: flex;
  align-items: center;
}
.main-menu li{
  display: inline-block;
  padding-right: 50px;
}
.main-nav a{
  text-transform: uppercase;
  font-size: 14px;
}
.main-nav a:hover{
  color: hsl(0, 94%, 66%);
}
.header-btn{
  padding-right: 30px;
}
.header-btn button:hover{
  color: hsl(0, 94%, 66%);
  background: transparent;
  border: 1px solid hsl(0, 94%, 66%);
}


/* hero */
.hero{
  background: #4F61D5;
}
.hero-container{
  position: relative;
  align-items: center;
  height: 500px;
  overflow: hidden;
}
.hero-img{
  position: absolute;
  top: 50px;
  right: -38px;
}
.hero-content{
  flex-basis: 40%;
}
.hero-content h2{
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 400;
}
.hero-content p{
  margin: 20px 0;
  color: #A6A6AA;
  font-size: 14px;
}
.hero-btn button{
  width: 140px;
  font-size: 12px;
  text-transform: capitalize;
}
.hero-btn button:first-child{
  background: #4F61D5;
  margin-right: 15px;
}
.hero-btn button:first-child:hover{
  background: transparent;
  color: #4F61D5;
  border: 1px solid #4F61D5;
}
.hero-btn button:last-child{
  background: #F7F7F7;
  color: black;
}
.hero-btn button:last-child:hover{
  background: transparent;
  color: black;
  border: 1px solid black;
}

/* features */
.section-title{
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}
.section-title h3, .tabcontent-right h3{
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 400;
}
.section-title p{
  margin: 25px 0 70px 0;
  font-size: 14px;
  color: #A6A6AA;
}
.feature-tab{
  justify-content: space-around;
  flex-wrap: wrap;
  width: 40%;
  text-transform: capitalize;
  text-align: center;
}
.tablinks{
  flex-basis:  33.3333333%;
  font-weight: 400;
  font-size: 14px;
  color: #A6A6AA;
  border-bottom: .5px solid #A6A6AA;
  padding-bottom: 20px;
  cursor: pointer;
}
.tablinks:hover{
  color: hsl(0, 94%, 66%);
}
.tablinks.active{
  border-bottom: 3.5px solid hsl(0, 94%, 66%);
  padding-bottom: 20px;
  color: black;
}
.feature-tab-content{
  margin-top: 70px;
}
.tabcontent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  grid-gap: 150px;
  animation: fade 1s;
}
.tabcontent:not(:first-child){
  display: none;
}
.tabcontent-right p{
  padding: 20px 0;
  color: #A6A6AA;
  font-size: 14px;
}
.tabcontent-right button{
  background: #5266E0;
  color: white;
  font-size: 12px;
}

/* extension */
.extension-items{
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}
.item:nth-child(2){
  transform: translateY(30px);
}
.item:last-child{
  transform: translateY(60px);
}
.item{
  text-align: center;
  box-shadow: -4px 9px 15px #0000001f;
  border-radius: 5px;
  width: 250px;
  height: 330px;
}
.item img{
  padding: 30px 0 20px 0;
}
.item h4{
  font-size: 18px;
  font-weight: 400;
}
.item p{
  padding: 10px 0 40px 0;
  font-size: 12px;
  color: #A6A6AA;
}
.extension-btn{
  padding-top: 20px;
  background-image: url('./images/bg-dots.svg');
  background-position: top center;
  background-repeat: no-repeat;
}
.extension-btn button{
  background: #5266E0;
  width: inherit;
  padding: 15px 25px;
  font-size: 12px;
  height: 100%;
}
.extension-btn button:hover{
  background: transparent;
  border: 1px solid #5266E0;
  color: #5266E0;
}

/* collapsible */
.collapsible-questions{
  flex-direction: column;
  width: 30%;
  text-align: left;
}
.collap-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collap-btn{
  padding: 20px 0;
  border-top: 1px solid #A6A6AA57;
  background-image: url('./images/icon-arrow.svg');
  background-position: top 25px right 20px;
  background-size: 16px 10px;
  background-repeat: no-repeat;
}
.collap-btn:hover{
  color: hsl(0, 94%, 66%);
}
.collap-btn.active {
  background-image: url('./images/icon-arrow-close.svg');
  background-size: 16px 10px;
  }
.collap-btn:nth-last-child(2){
  border-bottom: 1px solid #A6A6AA57;
}
.collap-btn:nth-last-child(2).active{
  border-bottom: none;
}
.collap-content p{
  font-size: 13px;
  color: #A6A6AA;
  padding: 20px 0;
  line-height: 1.6;
}

/* contact-us */
.contactus{
  background: #5266E0;
  color: white;
}
.contactus .section-title p{
  color: white;
  margin: 0;
  padding: 20px 0;
  font-size: 13px;
  letter-spacing: 4px;
}
.contact-us-form{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 80%;
  grid-gap: 15px;
}
.contact-us-form input{
  height: 40px;
  border-radius: 5px;
  border: none;

}
#email{
  padding-left: 10px;
}
#submit{
  background-color: hsl(0, 94%, 66%);
  color: white;
}



/* animation */
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
